.DS_Store
.ipynb_checkpoints
.Rproj.user
.Rhistory
Makefile
*.dll
*.exe
*.log
*.lp
*.o
*.so
*.test
*.vscode
include/armadillo*
tests/dens/configure
tests/dens/Makefile*
tests/prob/configure
tests/prob/Makefile*
tests/quant/configure
tests/quant/Makefile*
tests/rand/configure
tests/rand/Makefile*
*.dSYM
*.gcda
*.gcno
*.gcov
