.DS_Store
.ipynb_checkpoints
.Rproj.user
.Rhistory
Makefile
build
*.dll
*.exe
*.log
*.lp
*.o
*.so
*.test
*.vscode

*.dSYM
*.gcda
*.gcno
*.gcov

!docs/Makefile
docs/build
docs/xml

include/armadillo*
tests/dens/configure
tests/dens/Makefile*
tests/prob/configure
tests/prob/Makefile*
tests/quant/configure
tests/quant/Makefile*
tests/rand/configure
tests/rand/Makefile*
